.console_history
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
help.yml
ops.json
paper.yml
paperclip.jar
permissions.yml
server.properties
spigot.yml
usercache.json
version_history.json
whitelist.json

plugins/
cache/
logs/
world/
world_nether/
world_the_end/
